.Header {
    &.site-header {
        padding-top: 0;
        padding-bottom: 0;
        position: fixed;
        width: 100%;
        z-index: 99;
        top: 0;
    }

    .Menu__Container > .menu {
        margin: 0;
        padding: 0;
    }

    &__TopHeader {
        background-color: $primary;
        width: 100%;

        .container {
            display: flex;
            justify-content: end;
        }

        .mdc-button:not(:disabled) {
            color: white;
        }
    }

    &__Container {
        background-color: white;
        width: 100%;
        border-bottom: 1px solid #10494438;
    }

    &__Logo img {
        width: 108px;
        height: auto;
        position: relative;
        top: 2px;
    }

    &.site-header .header-inner {
        justify-content: flex-start;
    }

    &.site-header .site-navigation {
        justify-content: space-between;
    }

    &.site-header:not(.header-stacked) .Header__Container .site-navigation {
        max-width: initial;
    }

    .site-navigation .menu .Menu__Item {
        padding: 0.5rem;
        box-sizing: content-box;
        border-radius: 0;

        &.menu-item-has-children {
            padding-right: 1rem;
        }

        &:hover {
            background-color: #1049441a;
        }
        
        a {
            color: $primary;
            text-decoration: none;
            text-transform: initial;
            font-weight: 600;
            font-size: 0.875rem;
            letter-spacing: -0.1px;
            padding: 0 1rem;
            height: 100%;
            line-height: 36px;
        }

        &.active {
            box-shadow: inset 0 -3px $primary;
        }
    }

    .site-navigation ul.menu li a {
        padding: 0 1rem;
    }

    .site-navigation ul.menu li.menu-item-has-children a:after {
        font-family: 'Material Icons';
        content: '\e5cf';
        font-feature-settings: 'liga';
        -webkit-font-feature-settings: 'liga';
        color: $primary;
        font-size: 0.875rem;
        right: 0.5rem;
        position: absolute;
        transform: none;
    }

    .site-navigation ul.menu li.menu-item-has-children:after {
        content: none;
    }

    .site-navigation ul.menu li:hover>ul {
        display: none; // Prevent showing the submenu
    }

    .site-branding {
        margin-right: 0.5rem;
    }
}

.Header #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-megamenu > ul.mega-sub-menu {
    width: calc(100vw - 12px);
    position: fixed;
    left: -494px;

    opacity: 1 !important;
    display: block;
    transform: none !important;
    visibility: visible;
}

.MegaMenu {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    top: 78px;
    padding: 2rem 1rem;
    box-sizing: border-box;
    box-shadow: 0 4px 4px 0px rgb(0 0 0 / 15%);
    display: none;
    z-index: 99;

    &.active {
        display: block;
    }

    &__Summary {
        width: 33%;
        border-right: 1px solid #10494475;
    }

    &__SummaryHeader {
        margin: 0;
    }

    &__Summary, &__SubMenu {
        padding: 1rem;
        box-sizing: border-box;
    }

    &__SummaryHeader {
        font-size: 1.5rem;
    }

    &__SummaryText {
        font-size: 0.875rem;
    }

    .menu  {
        padding: 0;
        margin: 0;
        list-style: none;

        a {
            text-decoration: none;
            font-size: 1rem;
            color: $body-color;

            &:hover {
                color: $primary;
            }
        }
    }
}

@media (max-width: 991px) {
    .MegaMenu, .MegaMenu.active {
        display: none;
    }
}
