@use "sass:map";

$color: (
  "primary":          #104944,
  "primary-light-1":  #406d69,
  "secondary":        #c6e4c9,
  "text":             #152825,
  "success":          #31d0aa,
  "error":            #e65437,
  "warning":          #ffd864,
  "info":             #c6e4c9,
  "background":       #fefefe,
  "light":            #f8fffe,
  "dark":             #021514,
);

$primary: map.get($color, "primary");
$secondary: map.get($color, "secondary");
$success: map.get($color, "success");
$info: map.get($color, "info");  
$warning: map.get($color, "warning");
$danger: map.get($color, "error");    
$light: map.get($color, "light");    
$dark: map.get($color, "dark");   

@use "@material/theme" with
  (
    $primary: #104944,
    $secondary: #c6e4c9,
    $background: #fefefe,
    $surface: #f8fffe,
    $error: #e65437
  )
;

:root {
  --font-body: "Montserrat", sans-serif;
  --color-primary: #104944;
  --color-secondary: #c6e4c9;
  --color-primary-light-1: #406d69;
  --color-text: #152825;
  --color-success: #31d0aa;
  --color-error: #e65437;
  --color-warning: #ffd864;
  --color-info: #c6e4c9;
  --color-background: #fefefe;
  --mdc-outlined-button-label-text-font: "Montserrat", sans-serif;
  --mdc-typography-button-font-family: "Montserrat", sans-serif;
  --mdc-typography-font-family: "Montserrat", sans-serif;
}

@import "../node_modules/material-components-web/material-components-web.scss";

@import "_bootstrap_custom-utilities";

@import "_main-styles";
@import "_color.scss";
@import "_layout.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_button.scss";

.border-box {
  box-sizing: border-box;
}