:root {
    --font-body: 'Montserrat', sans-serif;
    --color-primary: #104944;
    --color-text: #152825
  }
  
body {
    font-family: var(--font-body);
    color: var(--color-text);
}

.h1, h1 {
    font-size: 2rem;
}

.h2, h2 {
    font-size: 2rem;
}

.h3, h3 {
    font-size: 2rem;
}

.h4, h4 {
    font-size: 2rem;
}

.h5, h5 {
    font-size: 2rem;
}

.h6, h6 {
    font-size: 2rem;
}